@import './Fonts.scss';
@import './Variables.scss';

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: $color-black;
    font-family: 'Web', sans-serif;
    font-weight: $font-weight-thin;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-white;
    text-decoration: none;
}

#root {
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-s * 2;
    box-sizing: border-box;
    height: $spacing-l;
    border: none;
    border-radius: $border-radius-m;
    padding: 0 $spacing-s * 2;
    font-size: $font-size-m;
    font-family: 'Web', sans-serif;
    color: $color-white;
    background-color: $color-black;
    box-shadow: 0 0 $box-shadow-blur $box-shadow-spread $color-black-shadow;
    transition: transform $transition-s ease;

    &:hover {
        transform: scale(1.025);
    }

    &.loading {
        * {
            display: none;
            visibility: hidden;
        }

        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            height: $spacing-m;
            width: $spacing-m;
            border-radius: 50%;
            animation-name: circle;
            animation-duration: $transition-l;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            border-top: $border-circle solid $color-white;
            border-right: $border-circle solid $color-white;
            border-bottom: $border-circle solid $color-white;
            border-left: $border-circle solid transparent;

            @keyframes circle {
                0% {
                    transform: rotateZ(0deg);
                }
                100% {
                    transform: rotateZ(360deg);
                }
            }
        }
    }
}
